- if current_user
  %h2= "Event data for #{current_user.name || current_user.email}'s app"
  = current_user.events


- else
  .inner.cover
    %h1 Blocmetrics
    %p.lead A general purpose analytics service for tracking events on your websites
    .btn.btn-lg.btn-default= link_to "Sign in", new_user_session_path
    .btn.btn-lg.btn-default= link_to "Sign up", new_user_registration_path
