- if current_user
  %h2= "Event data for #{current_user.name || current_user.email}'s app"
  %p= "#{Event.all.collect(&:ip_address).uniq.count} unique visits"
  %p= "#{Event.all.collect(&:property_2).uniq.count} unique users"

  %canvas#canvas{:height => "450", :width => "600"}

- else
  %h1.brand Blocmetrics
  %p.lead A general purpose analytics service for tracking events on your websites
  .btn.btn-lg.btn-default= link_to "Sign in", new_user_session_path
  .btn.btn-lg.btn-default= link_to "Sign up", new_user_registration_path
