%h1= "Events for #{@app.name}"

= link_to "Edit App", edit_app_path(@app)
= link_to "Delete App", @app, method: :delete, data: { confirm: 'Are you sure you want to delete this app?' }
= link_to "New Event", new_app_event_path(@app)

- @events.each do |event|
  .media
    .media-body
      = event.title
